.container{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.order-container {
    border-radius: 10px;
    width:100%;
    padding:10px
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-header h3 {
    margin: 0;
}

.edit-link {
    color: green;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;

}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}

.image-container {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    object-fit: cover;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
}

.add-comment {
    margin-top: 20px;
}
.add-comment textarea {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
}